@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

// Primary
$LightCyan: #cee3e9;
$NeonGreen: rgb(82, 255, 168);


// Neutral
$GrayishBlue: #4e5d73;
$DarkGrayishBlue: #323a49;
$DarkBlue: #1f2632;


html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $DarkBlue;
}

// Defaults

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 41.66%;
}

img {
    width: 100%;
    height: auto;
}

.card {
    border: #1f2632 1px solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: $DarkGrayishBlue;

    .shake-btn {
        background-color: $NeonGreen;
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        margin: 10px auto;
        cursor: pointer;
        position: relative;
    }

    .advice_number_row {
        margin: 1rem auto;


        small {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $NeonGreen;
            font-weight: 400;
        }

    }

    .actual_advice_row {
        margin-top: 1.4rem;

        .actual_advice {
            font-size: 28px;
            font-weight: 800;
            color: $LightCyan;
            word-wrap: break-word;
        }
    }

    picture {
        position: relative;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        padding: .5rem;
    }

    .card {
        margin: auto;
        height: 100%;

        .shake-btn {
            width: 60px;
            height: 60px;
            display: flex;
            margin: 10px auto;
            bottom: -60px;
        }

        picture {
            bottom: -14px;
        }
    }
}

@media (min-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;


    }

    .col {
        margin: auto;
        padding: .5rem;
    }

    .card {
        height: 100%;

        .shake-btn {
            width: 60px;
            height: 60px;
            display: flex;
            bottom: -60px;
        }

        picture {
            bottom: -40px;
        }
    }
}